html, body{
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #0D47A1, #B39DDB );
}
section{
  width: auto;
  height: auto;
}
.profile{
  width: 100%;
  height: auto;
  margin-top: -10px;
}
.background{
  background-image: url(../img/frontend-background.jpg);
  background-size: contain;
  height: 40%;
}

.circular--portrait{
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #29B6F6;
  position: absolute;
  top: 20%;
  left: 16%;
}
.card{
  width: 300px;
  height: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  background: #B39DDB;
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid #29B6F6;       /* oculta todo lo que se salga (las puntitas de la foto) */
}
.card p{
  text-align: center;
  color: #263238;
}
.card p:nth-child(1){
  font-weight: bold;
  font-size: larger;
}
.card p:nth-child(2){
  font-weight: bold;
}
.card p:nth-child(3){
  font-style: italic;
}
.s-networks{
  display: flex;
  justify-content: center;
}
.s-networks a img{
  width: 40px;
  height: 40px;
}
.info{
  margin-bottom: 5%;
  padding: 5%;
}
.portfolio{
  display: grid;
  width: 1100px;
  height: 800px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #B39DDB, #0D47A1);
  border: 3px solid #29B6F6;
}
/* .js-apps{
  display: flex;
  width: 1100px;
  height: 300px;
} */

.project{
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #29B6F6;
  
}

.project img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease-in-out;
}

.project:hover img {
  filter: brightness(50%);
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: opacity 0.3s ease-in-out;
}

.project:hover .overlay {
  opacity: 1;
}